*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #ef9c00;
}

body{
    width: 964px;
    background-color: white;
    margin: 15px auto;
    border: 1px solid black;
}

h2{
    padding: 1em;
}

header{
    border-bottom: 2px solid #ef9c00
}

#sidebarA{
    width: 180px;
    height: 350px;
    float: left;
    border-right: 2px solid #ef9c00;
}

main{
    width: 600px;
    float: left;
}

#sidebarB{
    width: 180px;
    height: 350px;
    float: right;
    border-left: 2px solid #ef9c00;
}

footer{
    clear: both;
    border-top: 2px solid #ef9c00;
}